@import "reset";

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-size: $font-md;
  //background-color: $white;
  background-color: $bgc-color;
}
img {
  width: 100%;
  height: 100%;
}
button {
  background-color: $white;
  &:focus {
    outline: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

// 头部底部占位div
.header-placeholder {
  position: relative;
  line-height: 50px;
  height: 50px;
  flex-shrink: 0;
}
.footer-placeholder {
  position: relative;
  line-height: 52px;
  flex-shrink: 0;
  height: 52px;
}
// 进度条样式
#nprogress {
  .bar {
    background-color: rgb(255, 202, 43);
  }
  .spinner-icon {
    border-color: rgb(255, 202, 43) transparent transparent rgb(255, 202, 43);
  }
  .peg {
    box-shadow: 0 0 2.66667vw rgb(255, 202, 43), 0 0 1.33333vw rgb(255, 202, 43);
  }
}
// 滚动条样式处理
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 0;
}

::-webkit-scrollbar:horizontal {
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: #fff;
}

