@import "reset";

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-size: $font-md;
  //background-color: $white;
  background-color: $bgc-color;
}
button {
  background-color: $white;
  &:focus {
    outline: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

// 滚动条样式处理
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 0;
}

::-webkit-scrollbar:horizontal {
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: #fff;
}

